# ---------------------------------------------------------------------------
# VEYRA ? Android release imza bilgileri (?ABLON)
# ---------------------------------------------------------------------------
# Kullan?m:
#   cp keystore.properties.example keystore.properties
#   ve de?erleri scripts/android/make-keystore.sh ??kt?s?yla doldurun.
#
# G?VENL?K: keystore.properties ve *.keystore dosyalar? .gitignore i?indedir,
# Git'e ASLA girmemelidir. CI i?in ayn? de?erleri GitHub Secrets olarak tan?mlay?n:
#   VEYRA_KEYSTORE_PATH / VEYRA_KEYSTORE_PASSWORD / VEYRA_KEY_ALIAS / VEYRA_KEY_PASSWORD
#
# storeFile yolu bu dizine (android/) g?relidir veya mutlak yaz?labilir.
storeFile=veyra-release.keystore
storePassword=CHANGE_ME
keyAlias=veyra-release
keyPassword=CHANGE_ME
